{% extends'base.html.twig' %}
{% block body %}
    <h1>Mot de passe oublié ! </h1>
    <form action="{{ path('motdepasseoublie') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
        </div>






        <div class="col-md-6">
            <div class="ml-md-3 mt-3 mt-md-0 forgot-pass">



                <a class="btn btn-danger btn-icon-split" href="{{ path('security_login') }}">Vous avez oublié votre mot de passe?</a>


            </div>
        </div>
        </div>
    </form>
{% endblock %}



