{% extends 'base2.html.twig' %}

{% block title %}Edit EmploiDuTemps{% endblock %}

{% block body %}
    <h1>Edit EmploiDuTemps</h1>

    {{ include('emploi_du_temps/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('emploi_du_temps_index') }}">back to list</a>

    {{ include('emploi_du_temps/_delete_form.html.twig') }}
{% endblock %}

