{% extends 'base2.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bienvenu</h6>
        </div>
        <div class="card-body">
            Bienvenu cher administrateur à votre espace de gestion de votre salle !
        </div>
    </div>

{% endblock %}
