{% block body %}

    <img src="http://127.0.0.1:8000/public/front/img1.png"/>
    <h1 align="center" style="font-style: italic;color: #1a7577"  > Liste des zones</h1>
    <br><br><br><br>




    <style>
        #maTable2 {

            width: 100%;

            margin: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            border-collapse: collapse;
            border: 1px solid #fff;

        }
        #maTable2 th, #maTable2 td {
            font-family: 'Rock Salt', cursive;

            padding: 3px;
            border: 1px solid #1a7577;
            text-align: center;
            font-style: italic;

        }
        #maTable2 th {
            padding: 15px;

            background: #5d9fa4;
            color: #ffffff;
            font-weight: bold;
            font-style: italic;
            font-size: x-large;

        }
    </style>

    <table id="maTable2">

        <thead>
        <tr>

            <th>Idzone</th>
            <th>Nom</th>
            <th>Horaire ouverture</th>
            <th>Horaire cloture</th>
        </tr>
        </thead>
        <tbody id='hi'>
        {% for zonedacce in zonedacces %}
            <tr>


                <td>{{ zonedacce.Idzone }}</td>

                <td>{{ zonedacce.Nom }}</td>
                <td>{{ zonedacce.Horaireouverture }}</td>
                <td>{{ zonedacce.Horairecloture }}</td>

            </tr>

        {% endfor %}

        </tbody>
    </table>

    </div>

    </div>

{% endblock %}